* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #FFFDD0;
}

#nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    background-color: #FFFDD0;
}

#navpart1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navpart1 h3 {
    font-size: 17px;
    font-weight: 500px;
    border: 1.5px solid black;
    border-radius: 50px;
    padding: 5px 5px;
}

#navpart1 i {
    font-size: 17x;
    border: 1.5px solid #000;
    font-weight: 500;
    padding: 5px 8px;
    border-radius: 50px;
    margin-left: 3px;
}

#navpart2 {
    font-weight: 500;
    font-size: 20px;
    font-family: 'Gill Sans';
    text-transform: uppercase;
}

#btn1 {
    font-size: 17px;
    font-weight: 700;
    border: 1.5px solid black;
    border-radius: 50px;
    padding: 5px 5px;
    background-color: white;
    color: black;
}

#btn2 {
    font-size: 17px;
    font-weight: 700;
    border: 1.5px solid black;
    border-radius: 50px;
    padding: 5px 5px;
    background-color: orangered;
    color: white;
}

#main>h1 {
    font-size: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}